@import "tailwindcss";


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
    background-color: #f3f4f6; /* Tailwind bg-gray-100 */
    color: #111827; /* Tailwind text-gray-900 */
    font-family: 'Inter', sans-serif;
}